@font-face {
  font-family: MyFont;
  src: url(Roboto-BlackItalic.ttf);
}
body {
  background-image: url("background.png");
  font-family: MyFont;
}

section{
   background-color:  #2A282D;
   border-radius: 15px 15px 15px 15px;
   opacity: 0.5;
   filter: alpha(opacity=10);


}
article{
  background-color: white;
    padding: 5%;
    box-sizing: border-box;
    margin:3%;
    color: white;
    height: 30vh;
    width: 80%;
    opacity: 1;
    filter: Alpha(opacity=100);
}
h2{
    font-size:3em;
    color: #00B148;
}

a{
    margin-right: 2vh;
    color: #2A282D;
    background-color: #00B148;
    border-radius: 15px 15px 15px 15px;
}

.lien{
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 100%;
    font-size: 1.5em;
}
.dateCreation{
    position: absolute;
    top: 0px;
}
